@page "/logout"
@using CQRS.BlazorUI.InterfaceContracts
@inject IAuthService authService
@inject NavigationManager navManager
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await authService.Logout();
        navManager.NavigateTo("/");
    }
}